<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="/static/style.css">

  <title>Save Login Info</title>
</head>

<body>

  <div class="form-data" style="margin-top: 20rem;">
    <form action="{{ url_for("temp_to_profile")}}" method="post">
      <img src="/static/images/save_info_logo.png" style="width: 7rem; align-self: center;">
      <p style="padding-top: 2rem; font-size: medium; font-family: 'Assistant-SemiBold', sans-serif; text-decoration: none;">Save Your Login Info?</p>
        <a style="padding-top: 1.7rem; font-size: small; padding-bottom: 2.5rem; font-family: 'Assistant-Light', sans-serif; text-decoration: none; color: gray;"
          href="/templates/temp.html">We can save your login info on this browser so you don't have to enter it again.</a>
          <button class="form-btn" style="width: 27rem;" type="submit">Save Info</button><br>
          <a href="#">Not Now</a>
    </form>
  </div>

  <footer style="margin-top: 5rem;">
    <div class="container">
      <nav class="footer-nav">
        <ul>
          <li>
            <a href="#"">About</a>
            </li>
            <li>
              <a href=" #">Blog</a>
          </li>
          <li>
            <a href="#">Jobs</a>
          </li>
          <li>
            <a href="#">Api</a>
          </li>
          <li>
            <a href="#">Help</a>
          </li>
          <li>
            <a href="#">Privacy</a>
          </li>
          <li>
            <a href="#">Terms</a>
          </li>
          <li>
            <a href="#">Directory</a>
          </li>
          <li>
            <a href="#">Profiles</a>
          </li>
          <li>
            <a href="#">Hashtags</a>
          </li>
          <li>
            <a href="#">Languages</a>
          </li>
        </ul>
      </nav>
      <div class="copyright-notice">
        &copy 2021 Instagram
      </div>
    </div>
  </footer>
</body>

</html>